<template lang="jade">
  .article-block
    .article-block_desc
      h2.title Заголовок FAQ
      p.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio itaque ea, nostrum odio. Dolores, sed accusantium quasi non.
      p.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio itaque ea, nostrum odio. Dolores, sed accusantium quasi non.
      p.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio itaque ea, nostrum odio. Dolores, sed accusantium quasi non.
      p.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio itaque ea, nostrum odio. Dolores, sed accusantium quasi non.
      img(src="http://via.placeholder.com/150x250" fluid)
      img(src="http://via.placeholder.com/150x250" fluid)
    .article-block_links
      hr
      router-link(to="/" flat) Оглавление FAQ

</template>

<script>

export default {
  name: 'ArticleBlock'
}

</script>

<style lang="scss">
  .article-block {
    margin-top: 25px;
    &_desc {
      margin-top: 15px;
      padding: 5px;
      text-align: left;
      .title {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 25px;
      }
      img {
        margin: 5px;
      }
    }
    &_links {
      a {
        text-transform: uppercase;
      }
    }
  }
</style>
