<template lang="jade">
  .list-block
    v-expansion-panel(focusable)
      v-expansion-panel-content( v-for="(item, i) in 3", :key="i")
        div(slot="header") Профиль
        v-card
          v-expansion-panel
            v-expansion-panel-content( v-for="(item, i) in 3", :key="i")
              div(slot="header") Авторизация и регистрация
              v-card
                v-card-text
                  router-link(to="/article/1") Статья FAQ
              v-card
                v-card-text
                  router-link(to="/article/1") Статья FAQ
              v-card
                v-card-text
                  router-link(to="/article/1") Статья FAQ
            v-card
              v-card-text
                router-link(to="/article/1") Статья FAQ
            v-card
              v-card-text
                router-link(to="/article/1") Статья FAQ
</template>

<script>

export default {
  name: 'ListBlock',
  created: function () {
    this.axios({
      method: 'get',
      baseURL: 'http://curator.onoi.kg/api.php',
      url: '/wiki/ru/titles/'
    }).then(function (response) {
      console.log(response)
    }, response => {
      console.log(response)
    })
  }
}

</script>

<style lang="scss">
  .list-block {
    margin-top: 15px;
    .v-expansion-panel {
      &__container {
        &__header {
          font-weight: bold;
        }
        &--active {
          > .v-expansion-panel__header {
            background-color: #FFD226;
          }
        }
      }
      &__body {
        .v-card {
          max-width: 100%;
          width: 100%;
          &__text {
            padding: 10px 20px;
          }
          .v-expansion-panel {
            box-shadow: none;
            // background: #eee;
            &__container {
              // background: #eee;
            }
          }
        }
      }
    }
  }
</style>
