<template lang="jade">
  .main-block
    SearchBlock
    ListBlock
</template>

<script>

import SearchBlock from './SearchBlock'
import ListBlock from './ListBlock'

export default {
  name: 'MainBlock',
  components: { SearchBlock, ListBlock }
}

</script>

<style lang="scss">

</style>
