<template lang="jade">
  .search-block
    v-text-field(
      v-model="search"
      type="text"
      label="Введите слова для поиска"
      prepend-icon="search"
      clear-icon="close"
      clearable)
    .search-block_items(v-show="search")
      v-card(hover="true" to="/article/1" v-for="(item, i) in 3", :key="i")
        v-card-title
          p.category Аккаунт и профиль #[br]
          h5.title Сменить пароль #[br]
          p.desc.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio itaque ea, nostrum odio. Dolores, sed accusantium quasi non. #[br]
</template>

<script>

export default {
  name: 'SearchBlock',
  data: function () {
    return {
      search: ''
    }
  }
}

</script>

<style lang="scss">
  .search-block {
    margin-top: 50px;
    &_items {
      .v-card {
        margin-bottom: 15px;
        text-align: left;
        text-decoration: none;
        .category {
          max-width: 100%;
          width: 100%;
          font-size: 14px;
          color: grey;
          margin: 0;
        }
        .title {
          padding: 5px 0;
          font-size: 16px;
          font-weight: 300;
        }
      }
    }
  }
</style>
