<template lang="jade">
  div(id="app")
    v-app(default)
      b-container
        b-row.justify-content-center
          b-col(cols="5" md="5" lg="5")
            b-img(src="./assets/logo.svg" fluid)
          b-col(cols="12" md="8" lg="8")
            router-view
</template>

<script>

import VueRouter from 'vue-router'
import MainBlock from './components/MainBlock'
import ArticleBlock from './components/ArticleBlock'

const router = new VueRouter({
  routes: [
    {
      path: '/',
      component: MainBlock
    },
    {
      path: '/article/:id',
      component: ArticleBlock
    }
  ]
})

export default {
  name: 'App',
  router
}
</script>

<style lang="scss">
.application.theme--light {
  background-color: #fff!important;
}
body {
  color: #333;
}
#app {
  font-family: 'Helvetica', Arial, sans-serif;
  text-align: center;
  margin: 25px 0 50px;
}
</style>
